{% extends "base.html" %}

{% block content %}

  <h1>Buggy</h1>
{% for buggy in buggies %}
  <table>
    
   <tr>
     <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
   <tr>
     <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>
     <td>FlagColor</td> <td>{{ buggy['flag_color'] }}</td>
   <tr>
     <td>FlagColorSecondary</td> <td>{{ buggy['flag_color_secondary'] }}</td>
    </tr>
   <tr>
     <td>FlagPattern</td> <td>{{ buggy['flag_pattern'] }}</td>
    
    </tr>

   <tr>
     <td>HamsterBooster</td> <td>{{ buggy['hamster_booster']}}</td>

    </tr>

   <tr>
     <td>Total Cost:</td> <td>{{buggy['total_cost']}}</td>

   </tr>
   <tr>
     <br>

     <td colspan="2"> <a href="/edit/{{ buggy['id'] }}" > edit me </a></td>
  
   </tr>
     <td colspan="2"> <a href="/json/{{ buggy['id'] }}" > Json information </a></td>


  </tr>



    
  </table>
{% endfor %}
  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
